<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Time Sheet Application</title>
    <link rel="icon" type="image/png" href="~/Picture/favicon.png">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/fonts/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        * {
            font-family: Kanit;
            font-style: normal;
            font-weight: 400;
        }

        .navbar-brand {
            padding: 22px 15px !important;
        }

        .navbar-nav {
            margin: 5px;
        }

        ul.nav a {
            cursor: pointer;
        }

        .active {
            color: #f00;
            font-weight: bolder;
        }

        .navbar-nav {
            float: unset !important;
        }

        div.container {
            max-width: 1200px;
        }

        .col-form-label {
            padding-top: calc(.8rem - 1px * 2) !important;
        }

    </style>

</head>
<body>
    @{
        var TimeSheetLoginUser = Timesheet.Web.Repositories.LoginRepo.GetOwnerUser();
    }
    <div class="navbar navbar-inverse navbar-fixed-top" style="height: 55px;">
        <div class="row col-md-12">
            <div class="navbar-header col-md-1 text-right">
                <img src="'~/../Picture/digital_logo.png" style="padding: 5px 0px 4px 0px;height: 55px;">
            </div>
            <div class="navbar-header col-md-1">
                @if (TimeSheetLoginUser.UserType == "OS")
                {
                    @Html.ActionLink("TIMESHEET", "Index", "Timesheet", new { area = "" }, new { @class = "navbar-brand", @style = "color:white;" })
                }
                else if (TimeSheetLoginUser.UserType == "PTTDIGITAL")
                {
                    @Html.ActionLink("TIMESHEET", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:white;" })
                }
            </div>
            <div class="navbar-header col-md-5">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dashboard", "Index", "Home")</li>
                    @if (TimeSheetLoginUser.UserType == "OS")
                    {
                        <li>@Html.ActionLink("Timesheet", "Index", "Timesheet")</li>
                    }
                    @*<li>@Html.ActionLink("Job Code", "Index", "JobCode")</li>
                        <li>@Html.ActionLink("Employee Data", "Index", "DataManagement")</li>*@
                </ul>
            </div>
            <div class="navbar-header col-md-5" style="display: flex !important; justify-content: flex-end !important;">
                <ul class="nav navbar-nav">
                    <li class="nav-item" style="color:white; padding-top: 15px; padding-bottom: 15px; cursor:pointer;"><i class="fa fa-user"></i> @TimeSheetLoginUser.Full_Name_EN</li>
                    <li class="nav-item" style="color: white; padding-top: 15px; padding-bottom: 15px; left: 20px;"><a style="display: unset; color:white;" href=@Url.Action("Logout", "Login", new {Area = ""})><i class="fa fa-lg fa-sign-out" title="Log out"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top:1.2%;">
        @RenderBody()
        @*<hr />
            <footer style="position: fixed; bottom: 0;">
                <p>&copy; @DateTime.Now.Year - Timesheet Application</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $('.nav a').filter(function () { return this.href == location.href }).parent().addClass('active').siblings().removeClass('active')
            $('.nav a').click(function () {
                $(this).parent().addClass('active').siblings().removeClass('active')
            })
        });
  
    //session end
    var sessionTimeoutWarning = @Session.Timeout- 1;
    var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
    setTimeout('SessionEnd()', sTimeout);
    function SessionEnd() {
        window.location = "/Login";
    }
    </script>

</body>
</html>
