@model Timesheet.Web.Models.HomeModel
@{
    ViewBag.Title = "Home";
}


<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Highcharts Example</title>

    <style type="text/css">
        #container {
            height: 400px;
        }

        .highcharts-figure, .highcharts-data-table table {
            min-width: 310px;
            max-width: 800px;
            margin: 1em auto;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #EBEBEB;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }

    </style>
</head>
<body>
    <div class="col-md-12">
        <div class="col-md-1 text-right" style="padding: 0px; padding-top: 7.5px;">
            <label for="txtstartday">วันที่เริ่มต้น :</label>
        </div>
        <div class="col-md-2">
            <div class="input-group">
                @Html.TextBoxFor(i => i.txtstartday, "{0:dd/MM/yyyy}", new { @class = "form-control", id = "txtstartday", autocomplete = "off", placeholder = "Enter Date" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <div class="col-md-1 text-right" style="padding: 0px; padding-top: 7.5px;">
            <label for="txtendday">วันที่สิ้นสุด :</label>
        </div>
        <div class="col-md-2">
            <div class="input-group">
                @Html.TextBoxFor(i => i.txtendday, "{0:dd/MM/yyyy}", new { @class = "form-control", id = "txtendday", autocomplete = "off", placeholder = "Enter Date" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>


        <div class="col-md-6">

            <div class="col-md-10">
                <div class="col-md-3  text-right" style="padding: 0px; padding-top: 7.5px;">
                    <label for="chart">รูปแบบกราฟ :</label>
                </div>
                <div class="col-md-9">
                    <select id="chart" class="form-control">
                        <option value="1">Job Code Uitilzation (Summary)</option>
                        <option value="2">Job Code Utilization (per day)</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" id="btnGenChart" class="btn btn-primary" onclick="GenFormatChart();"><i class="fa fa-search"></i>&nbsp;Gen Chart</button>
            </div>
        </div>

    </div>


    <script src="~/Charts/highcharts.js"></script>
    <script src="~/Charts/modules/exporting.js"></script>
    <script src="~/Charts/modules/export-data.js"></script>
    <script src="~/Charts/modules/accessibility.js"></script>

    <div class="panel-body">
        @*<table id="tableChart" class="display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Row Labels</th>
                        <th>Sum of MAN_DAY</th>
                    </tr>
                </thead>
            </table>*@
    </div>
    <span  id="lbchart" >
     
</span>
    <figure class="highcharts-figure">
        <div id="container"></div>
        <p class="highcharts-description">

        </p>
    </figure>


    @section scripts {
        <script type="text/javascript">
            var objSuppORGRP, objSuppORMR, objSuppSP, objSuppRRS, objSuppeBG, objAOUPSupport, objProject, objSAP;
            var objChartColumn = [];
            var objChartColumn2 = [];
            var objEmployee = [];
        var objChartPie = [];
        var JSONChartColumn = [];
        var JSONChartPie = [];
        var ArrayChartColumn = [];
        var ArrayChartPie = [];
        var period_day = [];
        var monthNames = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN",
            "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"
        ];
        var txtmonthminday = "";
        var txtmonthmaxday = "";
        var maxday;
        var minday;
        var Year = "";
        var Startday = "";
        var Endday = "";
        var Month = "";
        var Chart = "";

        $(document).ready(function () {
            $('#txtstartday').datetimepicker({
                format: "DD/MM/YYYY",
                useCurrent: false
            });

            $('#txtendday').datetimepicker({
                format: "DD/MM/YYYY",
                useCurrent: false
            });

            var today = new Date();
            var dd = "01";
            //var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();
            today = dd + '/' + mm + '/' + yyyy;
            $("#txtstartday").val(today);

            GetDataEmployee();
            //GetDataChartColumn();
            //GetDataChartColumn2()
            GetDataChartPie();
        });



            function GetdayoMonth(minday,maxday) {
                var textday = "";
                var i;
                for (i = minday; i < maxday; i++) {
                    textday += i + ",";
                }
                textday = textday + maxday;
                period_day = textday.split(',');
            }

            function GendayoMonth() {
                Startday = $("#txtstartday").val();
                Endday = $("#txtendday").val();
                minday = Startday.split('/')
                maxday = Endday.split('/')
                txtmonthmaxday = monthNames[parseInt(maxday[1]) - 1];
                txtmonthminday = monthNames[parseInt(minday[1]) - 1];
                Year = $("#year").val();
                GetdayoMonth(minday[0], maxday[0])
               
               
            }

            function GenFormatChart() {
                Chart = $("#chart").val();
                if (Chart == "1") {
                    GetDataChartPie()   
                }
                else if (Chart == "2") {
                   
                    GetDataChartColumn()
                }
                else {

                }
            }

            function GenChartColumn() {
                GendayoMonth()
                //GetDataChartColumn()
                objSuppORGRP = objChartColumn.filter(function (objChartColumn) {
                        return objChartColumn.JOB_GROUP == "Supp OR GRP";
                });
                objSuppORGRP = $(objSuppORGRP).map(function (i) {
                    return [objSuppORGRP[i].MAN_DAY];
                });

                objSuppORMR = objChartColumn.filter(function (objChartColumn) {
                    return objChartColumn.JOB_GROUP == "Supp OR MR";
                });
                objSuppORMR = $(objSuppORMR).map(function (i) {
                    return [objSuppORMR[i].MAN_DAY];
                });

                objSuppSP = objChartColumn.filter(function (objChartColumn) {
                    return objChartColumn.JOB_GROUP == "Supp SP";
                });
                objSuppSP = $(objSuppSP).map(function (i) {
                    return [objSuppSP[i].MAN_DAY];
                });

                objSuppRRS = objChartColumn.filter(function (objChartColumn) {
                    return objChartColumn.JOB_GROUP == "Supp RRS";
                });
                objSuppRRS = $(objSuppRRS).map(function (i) {
                    return [objSuppRRS[i].MAN_DAY];
                });

                objSuppeBG = objChartColumn.filter(function (objChartColumn) {
                    return objChartColumn.JOB_GROUP == "Supp eBG";
                });
                objSuppeBG = $(objSuppeBG).map(function (i) {
                    return [objSuppeBG[i].MAN_DAY];
                });

                objAOUPSupport = objChartColumn.filter(function (objChartColumn) {
                    return objChartColumn.JOB_GROUP == "AOU/P Support";
                });
                objAOUPSupport = $(objAOUPSupport).map(function (i) {
                    return [objAOUPSupport[i].MAN_DAY];
                });

                objSAP = objChartColumn.filter(function (objChartColumn) {
                    return objChartColumn.JOB_GROUP == "SP-PTT-AOU/P-SAP Master";
                });
                objSAP = $(objSAP).map(function (i) {
                    return [objSAP[i].MAN_DAY];
                });

                objProject = objChartColumn.filter(function (objChartColumn) {
                    return objChartColumn.JOB_GROUP == "Project";
                });
                objProject = $(objProject).map(function (i) {
                    return [objProject[i].MAN_DAY];
                });


                Highcharts.chart('container', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'JOB CODE ' + minday[0] + " " + txtmonthminday + " " + minday[2] + ' - ' + maxday[0] + " " + txtmonthmaxday + " " + maxday[2]
                    },
                    xAxis: {
                        categories: period_day
                            //['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Man-days'
                        }
                    },
                    tooltip: {
                        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.2f}%)<br/>',
                        shared: true
                    },
                    plotOptions: {
                        column: {
                            stacking: 'percent'
                        }
                    },
                    //series: [{
                    //    name: 'John',
                    //    data: [5, 3, 4, 7, 2]
                    //}, {
                    //    name: 'Jane',
                    //    data: [2, 2, 3, 2, 1]
                    //}, {
                    //    name: 'Joe',
                    //    data: [3, 4, 4, 2, 5]
                    //}]
                         series: [{
                        name: 'Supp OR GRP',
                        data: objSuppORGRP
                    }, {
                        name: 'Supp OR MR',
                        data: objSuppORMR
                    }, {
                        name: 'Supp SP',
                        data:  objSuppSP
                    }, {
                        name: 'Supp RRS',
                        data: objSuppRRS

                    }, {
                        name: 'Supp eBG',
                        data: objSuppeBG

                    }, {
                        name: 'AOU/P Support',
                        data: objAOUPSupport

                    }, {
                        name: 'SAP Master',
                        data: objSAP
                    }, {
                        name: 'Project',
                        data: objProject

                    }]
                });


                //Highcharts.chart('container', {
                //    chart: {
                //        type: 'column'
                //    },
                //    title: {
                //        text: 'JOB CODE ' + minday[0] + " " + txtmonthminday + " " + minday[2] + ' - ' + maxday[0] + " " + txtmonthmaxday + " " + maxday[2] + "<br>"
                //    },
                //    xAxis: {
                //        categories: period_day
                //    },
                //    yAxis: {
                //        min: 0,
                //        title: {
                //            text: 'Man-days'
                //        },
                //        stackLabels: {
                //            enabled: true,
                //            style: {
                //                fontWeight: 'bold',
                //                color: (
                //                    Highcharts.defaultOptions.title.style &&
                //                    Highcharts.defaultOptions.title.style.color
                //                ) || 'gray'
                //            }
                //        }
                //    },
                //    legend: {
                //        align: 'right',
                //        x: -30,
                //        verticalAlign: 'top',
                //        y: 25,
                //        floating: true,
                //        backgroundColor:
                //            Highcharts.defaultOptions.legend.backgroundColor || 'white',
                //        borderColor: '#CCC',
                //        borderWidth: 1,
                //        shadow: false
                //    },
                //    tooltip: {
                //        headerFormat: '<b>{point.x:,.2f}</b><br/>',
                //        pointFormat: '{series.name}: {point.y:,.2f}<br/>Total:{point.stackTotal:,.2f}'
                //    },
                //    plotOptions: {
                //        column: {
                //            stacking: 'normal',
                //            dataLabels: {
                //                enabled: true
                //            }
                //        }
                //    },
                //    series: [{
                //        name: 'Supp OR GRP',
                //        data: objSuppORGRP
                //    }, {
                //        name: 'Supp OR MR',
                //        data: objSuppORMR
                //    }, {
                //        name: 'Supp SP',
                //        data:  objSuppSP
                //    }, {
                //        name: 'Supp RRS',
                //        data: objSuppRRS

                //    }, {
                //        name: 'Supp eBG',
                //        data: objSuppeBG

                //    }, {
                //        name: 'AOU/P Support',
                //        data: objAOUPSupport

                //    }, {
                //        name: 'SAP Master',
                //        data: objSAP
                //    }, {
                //        name: 'Project',
                //        data: objProject

                //    }]
                //});

            }

            function GenChartColumn2() {
                GendayoMonth()
                objSuppORGRP = objChartColumn.filter(function (objChartColumn) {
                    return objChartColumn.JOB_GROUP == "Supp OR GRP";
                });

                objSuppORGRP = $(objSuppORGRP).map(function (i) {
                    return [objSuppORGRP[i].MAN_DAY];
                });

                objSuppORMR = objChartColumn.filter(function (objChartColumn) {
                    return objChartColumn.JOB_GROUP == "Supp OR MR";
                });
                objSuppORMR = $(objSuppORMR).map(function (i) {
                    return [objSuppORMR[i].MAN_DAY];
                });

                objSuppSP = objChartColumn.filter(function (objChartColumn) {
                    return objChartColumn.JOB_GROUP == "Supp SP";
                });
                objSuppSP = $(objSuppSP).map(function (i) {
                    return [objSuppSP[i].MAN_DAY];
                });

                objSuppRRS = objChartColumn.filter(function (objChartColumn) {
                    return objChartColumn.JOB_GROUP == "Supp RRS";
                });
                objSuppRRS = $(objSuppRRS).map(function (i) {
                    return [objSuppRRS[i].MAN_DAY];
                });

                objSuppeBG = objChartColumn.filter(function (objChartColumn) {
                    return objChartColumn.JOB_GROUP == "Supp eBG";
                });
                objSuppeBG = $(objSuppeBG).map(function (i) {
                    return [objSuppeBG[i].MAN_DAY];
                });

                objAOUPSupport = objChartColumn.filter(function (objChartColumn) {
                    return objChartColumn.JOB_GROUP == "AOU/P Support";
                });
                objAOUPSupport = $(objAOUPSupport).map(function (i) {
                    return [objAOUPSupport[i].MAN_DAY];
                });

                objSAP = objChartColumn.filter(function (objChartColumn) {
                    return objChartColumn.JOB_GROUP == "SP-PTT-AOU/P-SAP Master";
                });
                objSAP = $(objSAP).map(function (i) {
                    return [objSAP[i].MAN_DAY];
                });

                objProject = objChartColumn.filter(function (objChartColumn) {
                    return objChartColumn.JOB_GROUP == "Project";
                });
                objProject = $(objProject).map(function (i) {
                    return [objProject[i].MAN_DAY];
                });


                Highcharts.chart('container', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'JOB CODE ' + minday[0] + " " + txtmonthminday + " " + minday[2] + ' - ' + maxday[0] + " " + txtmonthmaxday + " " + maxday[2]
                    },
                    xAxis: {
                        categories: period_day
                        //['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Man-days'
                        }
                    },
                    tooltip: {
                        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.2f}%)<br/>',
                        shared: true
                    },
                    plotOptions: {
                        column: {
                            stacking: 'percent'
                        }
                    },
                    //series: [{
                    //    name: 'John',
                    //    data: [5, 3, 4, 7, 2]
                    //}, {
                    //    name: 'Jane',
                    //    data: [2, 2, 3, 2, 1]
                    //}, {
                    //    name: 'Joe',
                    //    data: [3, 4, 4, 2, 5]
                    //}]
                    series: [{
                        name: 'Supp OR GRP',
                        data: objSuppORGRP
                    }, {
                        name: 'Supp OR MR',
                        data: objSuppORMR
                    }, {
                        name: 'Supp SP',
                        data: objSuppSP
                    }, {
                        name: 'Supp RRS',
                        data: objSuppRRS

                    }, {
                        name: 'Supp eBG',
                        data: objSuppeBG

                    }, {
                        name: 'AOU/P Support',
                        data: objAOUPSupport

                    }, {
                        name: 'SAP Master',
                        data: objSAP
                    }, {
                        name: 'Project',
                        data: objProject

                    }]
                });
            }


            function GenChartPie() {
                GendayoMonth()
                JSONChartPie = JSON.stringify(objChartPie);
                Highcharts.chart('container', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: 'Job Code ' + minday[0] + " " + txtmonthminday + " " + minday[2] + ' - ' + maxday[0] + " " + txtmonthmaxday + " " + maxday[2]
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.y}</b> ({point.percentage:.2f}%)'
                    },
                    accessibility: {
                        point: {
                            valueSuffix: '%'
                        }
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.2f} %'
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        name: 'Man-Day',
                        colorByPoint: true,
                        data: JSON.parse(JSONChartPie)

                    }]
                });
            }

            //function MapDataChartPie(objChartPie) {
            //        ArrayChartPie = $(objChartPie).map(function (i) {
            //        return JSON.stringify(objChartPie[i].y);
            //    });
            //}

            //function MapDataChartColumn(objChartColumn) {
            //        ArrayChartColumn = $(objChartColumn).map(function (i) {
            //            return [objChartColumn[i].JOB_GROUP, objChartColumn[i].MAN_DAY];
            //    });
            //}

            function GetDataChartPie() {
                var param = {
                    startday: $("#txtstartday").val(),
                    endday: $("#txtendday").val()
            }
                    $.ajax({
                        url: '@Url.Action("ListChartPie")',
                        type: 'POST',
                        data: param,
                        success: function (data) {
                            objChartPie = data;
                            GenChartPie();
                        },
                        error: function () {
                            alert("error");
                        }
                    });
            }


            function GetDataChartColumn() {
                var param = {
                    startday: $("#txtstartday").val(),
                    endday: $("#txtendday").val()
            }
                    $.ajax({
                        url: '@Url.Action("ListChartColumn")',
                        type: 'POST',
                        data: param,
                        success: function (data) {
                            objChartColumn = data;
                            GenChartColumn();
                        },
                        error: function () {
                            alert("error");
                        }
                    });
            }


            function GetDataChartColumn2() {

                    $.ajax({
                        url: '@Url.Action("ListChartColumn2")',
                        type: 'POST',
                        data: "",
                        success: function (data) {
                            objChartColumn2 = data;
                        },
                        error: function () {
                            alert("error");
                        }
                    });

                   $.ajax({
                        url: '@Url.Action("ListEmployee")',
                        type: 'POST',
                        data: "",
                        success: function (data) {
                            objEmployee = data;
                        },
                        error: function () {
                            alert("error");
                        }
                    });

            }
            function GetDataEmployee() {

                    $.ajax({
                        url: '@Url.Action("ListEmployee")',
                        type: 'POST',
                        data: "",
                        success: function (data) {
                            objEmployee = data;
                        },
                        error: function () {
                            alert("error");
                        }
                    });
            }

        </script>
    }
</body>

</html>
