@model Timesheet.Web.Models.LoginView
@{
    ViewBag.Title = "Login";
}

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Timesheet Web</title>

        <style>
            .page-header {
                min-height: 100vh;
                max-height: 1000px;
                display: flex !important;
                padding: 0;
                margin: 0;
                border: 0;
                color: #fff;
                position: relative;
                align-items: center;
            }

            input, select, textarea {
                max-width: 300px !important;
            }
        </style>

        @Scripts.Render("~/bundles/jquery")

        <script>
            $(document).ready(function () {
                $('.navbar-inverse').hide();
            });
        </script>

    </head>

<body class="page-header" style="background: url('~/../Picture/background1.png') no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;">
    <div class="container" style="margin-top: -2%;">
        <div class="col-lg-4 col-md-4 col-sm-4 ml-auto mr-auto"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 ml-auto mr-auto" style="text-align: center; background-color: white; border-radius: 10px; padding: 25px;">
            <img src="~/Picture/digital_logo.png" />
            <h1 class="title"><span style="color:#2d3945"> TIMESHEET</span></h1>
            @using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <form>
                    <div class="input-container" style="margin-top: 20px; margin-left: 12px;">
                        <label for="name" style="color:red;" class="control-label">@ViewBag.Result</label>
                        @Html.TextBoxFor(i => i.Login_Name, new { required = "required", @class = "form-control", @placeholder = "UserName" })
                        @Html.ValidationMessageFor(model => model.Login_Name)
                    </div>
                    <div class="input-container" style="margin-top: 10px; margin-left: 12px;">
                        @Html.PasswordFor(model => model.Login_Password, new { required = "required", @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(model => model.Login_Password)
                    </div>
                    <div class="input-container" style="margin-top: 30px;">
                        <button class="btn btn-primary btn-block" id="btnLogin" type="submit" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Loading...">Login</button>
                    </div>
                </form>
            }
        </div>
    </div>
</body>

<footer style="position: fixed; bottom: 0; color:black;">
    <p>&copy; @DateTime.Now.Year - Timesheet Web</p>
</footer>

<script>
   $('#btnLogin').on('click', function() {
    var $this = $(this);
      $this.button('loading');
        setTimeout(function() {
           $this.button('reset');
       }, 10000);
    });
</script>


