@model Timesheet.Web.Models.TimesheetModel
@{
    ViewBag.Title = "Timesheet";
}

<style>
    .overlay {
        background: #e9e9e9;
        left: 0;
        opacity: 0.5;
    }

    .radius5px {
        border-radius: 5px;
    }

    .custom-header {
        padding: 10px;
        background-color: black;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .panel-body {
        border: 1px solid rgba(128, 128, 128, 0.45);
        border-radius: 5px;
    }

    input, select, textarea {
        max-width: unset;
    }
</style>
<div class="container" style="margin-top: -0.9%;">
    <div class="col-md-12">
        <div class="panel-default" style="background-color: white;z-index: 10;position: fixed;max-width: 1110px;">
            <div class="panel-body" id="panelBody" style="border: 2px solid gray; padding: 0px 0px 0px 20px; ">
                <div class="row col-md-12" style="margin-top: 2%;">
                    <div class="col-form-label col-md-1 text-right" style="padding: 0px;">
                        <label for="name" class="control-label">Date of<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            @Html.TextBoxFor(i => i.DATE_OF, "{0:dd/MM/yyyy}", new { @class = "form-control", id = "DATE_OF", autocomplete = "off", placeholder = "Enter Date" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 text-center" is="divType" style="padding-top: calc(.5rem - 1px * 2) !important;">
                        @Html.RadioButtonFor(model => model.TYPE, "Y", new { id = "TYPE_Y", @class = "checkedRadio", @checked = true })
                        &nbsp;&nbsp;
                        @Html.LabelFor(model => model.TYPE, "วันทำงานปกติ", new { @for = "TYPE_Y" })
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.RadioButtonFor(model => model.TYPE, "N", new { id = "TYPE_N", @class = "checkedRadio" })
                        &nbsp;&nbsp;
                        @Html.LabelFor(model => model.TYPE, "วันลา", new { @for = "TYPE_N" })
                    </div>
                    <div class="divDayInActive">
                        <div class="col-form-label col-md-1" style="width: fit-content;">
                            <label for="name" class="control-label">ประเภท<span style="color: red;">*</span></label>
                        </div>
                        <div class="col-md-2" style="padding-left: 1%;">
                            @Html.DropDownListFor(model => model.LEAVE, new List<SelectListItem>
                               {
                                 new SelectListItem { Text = "ลาครึ่งวัน (เช้า)", Value = "ลาครึ่งวัน (เช้า)"},
                                 new SelectListItem { Text = "ลาครึ่งวัน (บ่าย)", Value = "ลาครึ่งวัน (บ่าย)"},
                                 new SelectListItem { Text = "ลาทั้งวัน", Value = "ลาทั้งวัน"}
                              }, "-Please Select-", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="divDayActive">
                        <div class="col-form-label col-md-1 text-right" style="padding: 0px;">
                            <label for="name" class="control-label">Hour<span style="color: red;">*</span></label>
                        </div>
                        <div class="col-md-2">
                            @Html.TextBoxFor(i => i.WORK_HOUR, new { @class = "form-control", @type = "number", @step = "1", @min = "1", @max = "8" })
                        </div>
                        <div class="col-form-label col-md-1 text-right" style="padding: 0px;">
                            <label for="name" class="control-label">Location<span style="color: red;">*</span></label>
                        </div>
                        <div class="col-md-2" style="padding-left: 1%;">
                            @Html.DropDownListFor(model => model.WORK_LOCATION, new List<SelectListItem>
                               {
                                 new SelectListItem { Text = "Home", Value = "Home"},
                                 new SelectListItem { Text = "Office", Value = "Office"},
                              }, "-Please Select-", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="divDayActive">
                    <div class="row col-md-12" style="margin-top: 1%;">
                        <div class="col-form-label col-md-1 text-right" style="padding: 0px;">
                            <label for="name" class="control-label">Job Code<span style="color: red;">*</span></label>
                        </div>
                        <div class="col-md-11">
                            @Html.DropDownListFor(m => m.JOB_CODE, Model.JOB_CODE_LIST.Select(i => new SelectListItem()
                            {
                                Text = i.JOBCODE_NO + " " + i.JOBCODE_NAME,
                                Value = i.JOBCODE_ID
                            }), "-Please Select-", new { @class = "form-control selectpicker" })
                        </div>
                        <div class="col-md-4" style="padding-left: 0px; display:none;">
                            @Html.TextBoxFor(i => i.JOB_CODE_NAME, new { @class = "form-control", @disabled = true })
                        </div>
                    </div>
                    <div class="row col-md-12" style="margin-top: 1%; display:none" id="divSubJobCode">
                        <div class="col-form-label col-md-1" style="padding: 0px; width: fit-content;">
                            <label for="name" class="control-label" style="font-size:13px;">Sub Job Code<span style="color: red;">*</span></label>
                        </div>
                        <div class="col-md-6">
                            @Html.DropDownListFor(m => m.SUB_JOB_CODE, Model.SUB_JOB_CODE_LIST.Select(i => new SelectListItem()
                          {
                              Text = i.SUB_JOBCODE_NAME,
                              Value = i.SUB_JOBCODE_ID
                          }), "-Please Select-", new { @class = "form-control selectpicker" })
                        </div>
                        <div class="col-md-1" style="padding: 0px; width: fit-content; display:none;">
                            <label for="name" class="control-label">Project Name</label>
                        </div>
                        <div class="col-md-3" style="display:none;">
                            @Html.TextBoxFor(i => i.PROJECT_NAME, new { @class = "form-control" })
                        </div>
                        <div class="col-form-label col-md-1 text-right" style="padding: 0px;">
                            <label for="name" class="control-label">Ticket ID</label>
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(i => i.TICKET_NO, new { @class = "form-control", @type = "number", @pattern = "[0-9]" , @onkeypress = "if(this.value.length==12) return false;"})
                        </div>
                    </div>
                    <div class="row col-md-12" style="margin-top: 1%;">
                        <div class="col-form-label col-md-1 text-right" style="padding: 0px;">
                            <label for="name" class="control-label">Description<span style="color: red;">*</span></label>
                        </div>
                        <div class="col-md-11">
                            @Html.TextAreaFor(i => i.DESCRIPTION, new { @class = "form-control", @rows = "1" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="text-align: center; margin-top: 1%; margin-bottom: 1%">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button type="button" id="btnSave" class="btn btn-success" style="padding: 4px 5px; width: 140px;"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                        <button type="button" id="btnClear" class="btn btn-primary" style="padding: 4px 5px; width: 140px;"><i class="fa fa-refresh"></i>&nbsp;Clear</button>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-1" id="divSizeShort" style="display: flex !important; justify-content: flex-end !important;">
                        <i class="fa fa-2x fa-chevron-circle-up" style="cursor:pointer;" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="ย่อ"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-default" id="divListShow" style="margin-top:20%; z-index: 2;">
            <div id="divSizeExplain" style="display: flex !important; justify-content: flex-end !important; padding: 0px 0px 25px 0px;"><i class="fa fa-2x fa-chevron-circle-down" style="cursor:pointer;" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="ขยาย"></i></div>
            <div class="panel-heading" style="color: white; padding: 5px 5px 5px; text-align: right; margin-top: -2%; border-radius: 5px; z-index: 1;">
                <div class="row">
                    <div class="col-md-2 text-left">
                        <button type="button" id="btnPre" class="form-control" style="padding: 4px 5px; color: black; border: none; width: 90px; display:none;"><i class="fa fa-angle-double-left"></i>&nbsp;Previous</button>
                    </div>
                    <div class="col-md-8 text-center" style="margin-top: 8px;">
                        <label for="name" class="control-label" id="ShowDate" style="color:black; font-size: 15px" />
                    </div>
                    <div class="col-md-2 text-right">
                        <button type="button" id="btnNext" class="form-control" style="padding: 4px 5px; color: black; border: none; width: 90px; margin-left: 68px; display:none;">Next&nbsp;<i class="fa fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="tableMyTimesheet" class="display nowrap cell-border" style="width:100%; margin-top: 2%; margin-top: -8px;">
                        <thead class="cell-border">
                            <tr>
                                <th></th>
                                <th>Date of</th>
                                <th>Job Code</th>
                                <th>Job Name</th>
                                <th>Sub Job Code</th>
                                <th>Ticket No.</th>
                                <th>Hour</th>
                                <th>Location</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="modalDeleteDialog" role="dialog">
    <div class="modal-dialog" style="margin-top: auto;">
        <!-- Modal content-->
        <div class="modal-content Delete" style="top:30px; border-color: gray;">
            <div class="modal-header custom-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title" style="color:white;"><i class="fa fa-trash"></i>&nbsp;CONFIRM DELETE</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    @Html.Label("aa", new { @id = "txtDelete" })
                </div>
            </div>
            <div class="modal-footer" style="padding:6px;">
                <button type="button" class="btn btn-primary btn-user btn-sm" id="btnConfirmDelete" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Loading..."><i class="fa fa-trash"></i> &nbsp;Delete</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-times"></i> &nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var sub_jobcode_exist = false;
        $(document).ready(function () {

            $('[data-toggle="tooltip"]').tooltip();

            $('#divSizeExplain').hide();
            $('.divDayInActive').hide();

            $('#divSizeShort').on('click', function () {
                $('#divSizeExplain').show();
                $('#panelBody').hide();
                $('#divListShow').css('margin-top', '0.5%');
            });

            $('#divSizeExplain').on('click', function () {
                $('#panelBody').show();
                $('#divListShow').css('margin-top', '20%');
                $('#divSizeExplain').hide();

                let checkedRadio = $('input[name="TYPE"]:checked').val();
                    if (checkedRadio == "Y") {
                        $('#divListShow').css('margin-top', '20%');
                    }
                    else {
                        $('#divListShow').css('margin-top', '12%');
                    }
            });

            $('.selectpicker').selectpicker({ liveSearch: true, showSubtext: true });

            var date = new Date();
            var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
            var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);

            $('#ShowDate').html('Timesheet Records'); //GetDate()

            $('#DATE_OF').datetimepicker({ format: "DD/MM/YYYY", useCurrent: false, minDate: firstDay }); /*, minDate: firstDay, maxDate: lastDay*/

            var Table = $('#tableMyTimesheet').DataTable({
                data: [],
                ajax: {
                    url: '@Url.Action("List")',
                    method: "POST",
                    dataSrc: function (response) { return response; }
                },
                aaSorting: [[1, "asc"]],
                responsive: false,
                filter: false,
                lengthChange: false,
                retrieve: true,
                iDisplayLength: 100,
                paging : false,
                columnDefs: [ {"className": "dt-head-center"} ],
                columns: [
                    {
                        className: 'dt-body-center',
                        data: function (data) {
                            var strDate = "'" + data.Str_DATE_OF + "'";
                            var strJobCode = "'"+ data.JOB_CODE +"'";
                            //return '<button class="btn btn-primary editor_edit" onclick="Edit(' + data.ID + ')" style="width: 28px; height:24px; padding: 2px;"> <i class="fa fa-edit"></i> </button>'
                            //    + '&nbsp; <button class="btn btn-danger editor_remove" data-toggle="modal" data-target="#modalDeleteDialog" onclick="Delete(' + data.ID + ')" style="width: 28px; height:24px; padding: 2px;"> <i class="fa fa-trash"></i> </button>';

                            return '<button class="btn btn-danger editor_remove" data-toggle="modal" data-target="#modalDeleteDialog" onclick="Delete(' + data.TIMESHEET_ID + ',' + strDate + ',' + strJobCode + ')" style="width: 28px; height:24px; padding: 2px;"> <i class="fa fa-trash"></i> </button>';

                        }
                    },
                    {
                        data: "Str_DATE_OF",
                        className: 'dt-body-center'
                        //data: function (data) {
                        //    var objDate = data.Str_DATE_OF.split('-');
                        //    return objDate[2] + '/' + objDate[1] + '/' + objDate[0];
                        //}
                    },
                    {
                        data: "JOB_CODE",
                        className: 'dt-body-center'
                    },
                    {
                        data: "JOB_CODE_NAME",
                        className: 'dt-body-left'
                    },
                    {
                        data: "SUB_JOB_CODE",
                        className: 'dt-body-left'
                    },
                    {
                        data: "TICKET_ID",
                        className: 'dt-body-center'
                    },
                    {
                        data: "WORK_HOUR",
                        className: 'dt-body-center'
                    },
                    {
                        data: "WORK_LOCATION",
                        className: 'dt-body-center'
                    }
                    ,
                    {
                        data: "DESCRIPTION",
                        className: 'dt-body-left'
                    }

                ]
            });

        $('#JOB_CODE').on('change', function (e) {
                $.ajax({
                    url: '@Url.Action("GetJobCodeName")',
                    type: 'POST',
                    data: { job_id: $('#JOB_CODE').val() },
                    success: function (data) {
                        $('#JOB_CODE_NAME').val(data.Name);
                    }
                });

            $.ajax({
                    url: '@Url.Action("GetSubJobCode")',
                    type: 'POST',
                    data: { job_id: $('#JOB_CODE').val() },
                    success: function (data) {

                        if (data.Result.length > 0) {
                            $("#divSubJobCode").css("display", "block");

                            for(var i=0; i < data.Result.length; i++)
                            {
                            //creates option tag
                              jQuery('<option/>', {
                                    value: data.Result[i].SUB_JOBCODE_ID,
                                    text: data.Result[i].SUB_JOBCODE_NAME
                              }).appendTo('#SUB_JOB_CODE'); //appends to select if parent div has id dropdown
                              $('.selectpicker').selectpicker('refresh');
                            }

                            sub_jobcode_exist = true;
                            $('#divListShow').css('margin-top', '24%');
                        }
                        else
                        {
                            $("#divSubJobCode").css("display", "none");
                            $('#SUB_JOB_CODE').val('');
                            $('#PROJECT_NAME').val('');
                            $('#TICKET_NO').val('');

                            sub_jobcode_exist = false;
                            $('#divListShow').css('margin-top', '20%');
                        }

                    }
                });

            });

            $('#WORK_HOUR').on('change', function (e) {
                var inputInt = Number.isInteger(parseFloat($('#WORK_HOUR').val()))
                if (!inputInt || parseFloat($('#WORK_HOUR').val()) < 1 || parseFloat($('#WORK_HOUR').val()) > 8)
                {
                    $('#WORK_HOUR').val('');
                    toastr.warning('Please input valid Work Hour(1-8) !');
                }
            });

            $('#btnClear').on('click', function () {
                $('#DATE_OF').val(GetDateFormat());
                $('#JOB_CODE').val('');
                $('#JOB_CODE_NAME').val('');
                $('#SUB_JOB_CODE').val('');
                $('#PROJECT_NAME').val('');
                $('#TICKET_NO').val('');
                $('#WORK_HOUR').val('');
                $('#WORK_LOCATION').val('');
                $('#DESCRIPTION').val('');
                $(".selectpicker").selectpicker("refresh");
                $('input[name=TYPE]').filter('[value=Y]').prop('checked', true);
                $("#divSubJobCode").css("display", "none");

                $('.divDayActive').show();
                $('.divDayInActive').hide();
                $('#divListShow').css('margin-top', '20%');
            });

            $('.checkedRadio').on('change', function () {
                var checkedRadio = $('input[name="TYPE"]:checked').val();
                    if (checkedRadio == "Y") {
                        $('.divDayActive').show();
                        $('.divDayInActive').hide();
                        $('#divListShow').css('margin-top', '20%');
                    }
                    else {
                        $('.divDayActive').hide();
                        $('.divDayInActive').show();
                        $('#divListShow').css('margin-top', '12%');
                    }
            });

            $("#btnSave").on('click', function (e) {

                if (FieldIsExist())
                {
                    $.blockUI();

                    var objDtOf = $('#DATE_OF').val().split('/');
                    var strObjDtOf = objDtOf[1] + '/' + objDtOf[0] + '/' + objDtOf[2];

                    var checkedRadio = $('input[name="TYPE"]:checked').val();

                    var param = {
                        DATE_OF: strObjDtOf,
                        WORK_HOUR: $('#WORK_HOUR').val(),
                        WORK_LOCATION: $('#WORK_LOCATION').val(),
                        JOB_CODE_ID: $('#SUB_JOB_CODE').val() != '' ? $('#SUB_JOB_CODE').val() : $('#JOB_CODE').val(),
                        JOB_CODE_NAME: $('#JOB_CODE_NAME').val(),
                        SUB_JOB_CODE: $('#SUB_JOB_CODE').val(),
                        PROJECT_NAME: $('#PROJECT_NAME').val(),
                        TICKET_NO: $('#TICKET_NO').val(),
                        TICKET_ID: $('#TICKET_NO').val(),
                        DESCRIPTION: $('#DESCRIPTION').val(),
                        TYPE: checkedRadio,
                        LEAVE: $('#LEAVE').val()
                    };

                    $.ajax({
                        url: '@Url.Action("SaveTimeSheet")',
                        type: 'POST',
                        data: param,
                        success: function (data) {
                            if (data.result) {
                                $.post('@Url.Action("List")', function (data) {
                                    Table.clear();
                                    Table.rows.add(data).draw();
                                    toastr.success('Save successfully !');
                                });

                            }
                            else
                            {
                                toastr.error(data.message);
                            }

                            $.unblockUI();
                        }
                    });
                }

            });

             $('#btnConfirmDelete').on('click', function () {
                var $this = $(this);
                $this.button('loading');
                $.ajax({
                    url: '@Url.Action("Delete")',
                    type: 'POST',
                    data: { timesheet_id : $(this).val() },
                    success: function (data) {
                        $this.button('reset');
                        if (data.isSuccess == true) {
                            $('#modalDeleteDialog').modal('toggle');
                            toastr.success('Delete Successfully.');
                           $.post('@Url.Action("List")', function (data) {
                                    Table.clear();
                                    Table.rows.add(data).draw();
                                });
                        } else
                        {
                            toastr.error('กรุณาลองใหม่อีกครั้ง เนื่องจากระบบทำงานผิดพลาด!');
                        }
                    },
                    error: function () {
                        alert("error");
                    }
                });

        });

        });

        function GetDateFormat()
        {
            var d = new Date();

            var month = d.getMonth()+1;
            var day = d.getDate();

            var output = (day < 10 ? '0' : '') + day + '/' +
                (month<10 ? '0' : '') + month + '/' +
                d.getFullYear();

            return output;
        }

        function Edit(id)
        {
            @*$.get('@Url.Action("Edit")', { ID: id }, function (data) {
                $(".Edit").html(data);
                $("#modalEditDialog").modal();
            });*@
        }

        function Delete(id, date, jobCode) {
            if (id != '' || id != null) {
                var nameConfirm = '';

                if (jobCode.length == 12)
                {
                     nameConfirm = 'Do you confirm delete TimeSheet Date of "' + date + '", Job Code No "' + jobCode + '" ?';
                }
                else
                {
                    nameConfirm = 'Do you confirm delete TimeSheet Date of "' + date + '" ?';
                }

                $('#txtDelete').html(nameConfirm);
                $('#btnConfirmDelete').val(id)
            }
        }

        function GetDate()
        {
            Date.prototype.toShortFormat = function() {

            let monthNames =["January","February","March","April",
                              "May","June","July","August",
                              "September", "October","November","December"];

            let monthIndex = this.getMonth();
            let monthName = monthNames[monthIndex];

            let year = this.getFullYear();

                return `${monthName}, ${year}`;
            }

            // Now any Date object can be declared

            let anyDate = new Date();
            return anyDate.toShortFormat();
        }

        function FieldIsExist()
        {
            if ($('#DATE_OF').val() == '')
            {
                toastr.warning('Please choose Date Of !');
                return false;
            }

            var checkedRadio = $('input[name="TYPE"]:checked').val();
            if (checkedRadio == "Y")
            {
                if ($('#WORK_HOUR').val() == '')
                {
                    toastr.warning('Please fill Work Hour !');
                    return false;
                }
                if ($('#WORK_HOUR').val().length <= 0 || $('#WORK_HOUR').val().length > 8)
                {
                    toastr.warning('Please input valid Work Hour !');
                    return false;
                }
                if ($('#WORK_LOCATION').val() == '')
                {
                    toastr.warning('Please select Work Location !');
                    return false;
                }
                if ($('#JOB_CODE').val() == '')
                {
                    toastr.warning('Please select Job Code !');
                    return false;
                }
                if (sub_jobcode_exist)
                {
                    if ($('#SUB_JOB_CODE').val() == '')
                    {
                        toastr.warning('Please select Sub Job Code !');
                         return false;
                    }
                }
                if ($('#DESCRIPTION').val() == '')
                {
                    toastr.warning('Please fill Description !');
                     return false;
                }

                if ($('#TICKET_NO').val() != '')
                {
                    if ($('#TICKET_NO').val().length != 12)
                    {
                        toastr.warning('Please input valid Ticket No (12 digit) !');
                         return false;
                    }
                }
                
            }
            else
            {
                if ($('#LEAVE').val() == '')
                {
                    toastr.warning('Please fill Day leave !');
                    return false;
                }
            }

            return true;
        }

    </script>
}

